set bell-style none
set colored-stats On
set visible-stats On
set mark-symlinked-directories On
set show-all-if-ambiguous On
set colored-completion-prefix On
set menu-complete-display-prefix On
set completion-ignore-case On
