:root {
    /* size */
    --pecan-bg: #1d1f21;
    --pecan-fg: #c5c8c6;
    --pecan-height: 30px;
    /* opacity */
    --pecan-opacity: 0;
    /* this value affects --pecan-border */
    --pecan-opacity-inner: 1;
    --pecan-opacity-center: 1;
    --pecan-xanthia-opacity: 1;
    --pecan-xanthia-image-opacity: 1;
    /* alignment */
    --pecan-alignment-top: 0;
    --pecan-alignment-right: 0;
    --pecan-alignment-bottom: auto;
    --pecan-alignment-left: 0;
    /* padding */
    --pecan-padding-left: 10px;
    --pecan-padding-right: var(--pecan-padding-left);
    --pecan-padding-v: 6px;
    /* shadow */
    --pecan-shadow: 0px 4px 10px 4px rgba(0,0,0,0.15);
    --pecan-shadow-inner: 0px 1px 1px 1px rgba(0,0,0,0.15);
    /* border */
    --pecan-border: 3px;
    --pecan-border-radius: 0px;
    --pecan-border-radius-inner: 3px;
    /* typography */
    --pecan-font: Iosevka Term, Menlo, Monospace;
    --pecan-font-size: 12px;
    --pecan-font-style: regular;
    --pecan-line-height: calc(var(--pecan-height) - calc(var(--pecan-border) * 2));
    --pecan-text-padding: 1em;
    --webkit-font-smoothing: none;
    /* fade (to disable, set as "auto") */
    --pecan-xanthia-time-visible: auto;
    --pecan-xanthia-image-time-visible: auto;
    /* pecan media */
    --pecan-media-progress-height: 2px;
}

/* get monitor width */
.screen {
    width: 100vw;
}

.segment {
    font: var(--pecan-font-size) var(--pecan-font);
    font-style: var(--pecan-font-style);
    background-color: var(--pecan-bg);
    opacity: var(--pecan-opacity-inner);
    color: var(--pecan-fg);
    position: absolute;
    display: inline-block;
    line-height: var(--pecan-line-height);
    border-radius: var(--pecan-border-radius-inner);
    box-shadow: var(--pecan-shadow-inner);
    text-align: center;
}

/* bar background */
.pecanbackground {
    background-color: var(--pecan-bg);
    display: block;
    position: absolute;
    height: var(--pecan-height);
    top: var(--pecan-alignment-top);
    right: var(--pecan-alignment-right);
    bottom: var(--pecan-alignment-bottom);
    left: var(--pecan-alignment-left);
    margin-top: var(--pecan-padding-v);
    margin-right: var(--pecan-padding-right);
    margin-bottom: var(--pecan-padding-v);
    margin-left: var(--pecan-padding-left);
    opacity: var(--pecan-opacity);
    z-index: -1;
    box-shadow: var(--pecan-shadow);
    border-top-left-radius: var(--pecan-border-radius);
    border-top-right-radius: var(--pecan-border-radius);
    border-bottom-right-radius: var(--pecan-border-radius);
    border-bottom-left-radius: var(--pecan-border-radius);
}

/* invisible container to align center element */
.pecanholder {
    background-color: none;
    display: inline-block;
    position: absolute;
    height: var(--pecan-height);
    top: var(--pecan-alignment-top);
    right: var(--pecan-alignment-right);
    bottom: var(--pecan-alignment-bottom);
    left: var(--pecan-alignment-left);
    margin-top: var(--pecan-padding-v);
    margin-right: var(--pecan-padding-right);
    margin-bottom: var(--pecan-padding-v);
    margin-left: var(--pecan-padding-left);
}

/* workspace indicator -- far left */
.pecanworkspace {
    padding: 0 var(--pecan-text-padding);
    top: var(--pecan-alignment-top);
    left: 0px;
    bottom: var(--pecan-alignment-bottom);
    left: auto;
    margin-top: calc(var(--pecan-padding-v) + var(--pecan-border));
    margin-left: calc(var(--pecan-padding-left) + var(--pecan-border));
    margin-bottom: calc(var(--pecan-padding-v) + var(--pecan-border));
}

/* date -- 2nd to the left */
.pecandate {
    padding: 0 var(--pecan-text-padding);
    top: var(--pecan-alignment-top);
    bottom: var(--pecan-alignment-bottom);
    left: 0px;
    margin-top: calc(var(--pecan-border) + var(--pecan-padding-v));
    margin-bottom: calc(var(--pecan-border) + var(--pecan-padding-v));
    /* margin-left: calc(var(--pecan-padding-left) + var(--pecan-border)); */
    margin-left: calc(var(--pecan-padding-right) + var(--pecan-text-padding) * 2 + 1ch + var(--pecan-border) * 2);
}

/* playing media -- centered */
.pecan-media-holder {
    width: auto;
    top: var(--pecan-alignment-top);
    right: auto;
    bottom: var(--pecan-alignment-bottom);
    left: 50%;
    transform: translate(-50%);
    margin: calc(var(--pecan-padding-v) + var(--pecan-border));
    height: var(--pecan-line-height);
}

.pecanmedia {
    padding: 0 var(--pecan-text-padding);
    bottom: 0;
    margin: 0;
    line-height: calc(var(--pecan-line-height) - var(--pecan-media-progress-height));
}

.pecan-media-progress {
    height: var(--pecan-media-progress-height);
    background-color: var(--pecan-fg);
    border-bottom-left-radius: var(--pecan-border-radius-inner);
}

/* battery percentage -- 5th to left */
.pecanbattery {
    padding: 0 var(--pecan-text-padding);
    top: var(--pecan-alignment-top);
    right: 0px;
    bottom: var(--pecan-alignment-bottom);
    left: auto;
    margin-top: calc(var(--pecan-padding-v) + var(--pecan-border));
    margin-right: calc(var(--pecan-padding-right) + var(--pecan-text-padding) * 2 + 7ch + var(--pecan-border) * 2);
    margin-bottom: calc(var(--pecan-padding-v) + var(--pecan-border));
}

/* clock -- 6th to left */
.pecanclock {
    padding: 0 var(--pecan-text-padding);
    margin: var(--pecan-border);
    top: var(--pecan-alignment-top);
    right: 0px;
    bottom: var(--pecan-alignment-bottom);
    left: auto;
    margin-top: calc(var(--pecan-padding-v) + var(--pecan-border));
    margin-right: calc(var(--pecan-border) + var(--pecan-padding-right));
    margin-bottom: calc(var(--pecan-padding-v) + var(--pecan-border));
}
